.title-text {
    transform: translateX(0);
    opacity: 1;
  }

#computer-image {
    background: transparent;
    mask-image: url('./img/computerimage.jpg');
    -webkit-mask-image: url('./img/computerimage.jpg'); /* For WebKit browsers */
    mask-size: cover;
    -webkit-mask-size: cover;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
}