.title-text {
    transform: translateX(0);
    opacity: 1;
  }

.computer-image {
    background: transparent;
    mask-image: url('./img/computerimage.jpg');
    -webkit-mask-image: url('./img/computerimage.jpg'); /* For WebKit browsers */
    mask-size: cover;
    -webkit-mask-size: cover;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
}

.split-outline {
    -webkit-text-stroke: 1px gray; /* Add a gray outline */
    color: transparent; /* Make the inner part transparent */
}

.header-image {
    grid-column: 1/-1;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    object-fit: cover;
    z-index: -1;
    animation: header-image-animation linear forwards;
    transform-origin: top;
    animation-timeline: view();
    animation-range: exit;
}

@keyframes header-image-animation {
    25% {
        opacity: 1;
    }
    85%, 100% {
        opacity: 0;
        scale: 3;
    }
}

/* .cursor {
    width: 20px;
    height: 20px;
    border: 1px solid rgb(98, 92, 92);
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    
}

@keyframes cursorAnim {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.expand {
    animation: cursorAnim .5s forwards;
    border: 1px solid rgb(98, 92, 92);

} */

.blink-cursor {
    animation: blink 1s linear infinite;
}


@keyframes blink {
    0% {
        opacity: 100%;
    }
    50% {
        opacity: 0%;
    }
}

.slow-split-type {
    overflow-wrap: break-word;
    word-wrap: break-word; /* Compatibility */
  }

  span {
    display: inline-block;
    white-space: nowrap;
  }

  .needs-bg {
    background-image: url("./img/sindon'tlive.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    /* background-position: 10% 10%; */
    background-attachment: fixed;
    animation: none;
  }

  .velour-bg {
    background-image: url("./img/sashavelour.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    animation: none;
    background-attachment: fixed;
    
    background-blend-mode: multiply;
  }

  .graphic-bg {
    background-image: url("./img/qgh.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    animation: none;
    background-attachment: fixed;
    
    background-blend-mode: multiply;
  }

  .earth-bg {
    background-image: url("img/globeshot.jpg");
    background-size: cover;
    background-color: gray;
    background-blend-mode: multiply;
    
  }

  .sf-bg {
    background-image: url("./img/sfbackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: gray;
    background-blend-mode: multiply;
    background-attachment:unset; 
    background-position: center center;
  }

  .bg-optimize {
    background-image: url("./img/trickmirrorimg.avif");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(54, 53, 53);
    background-blend-mode: multiply;
    background-attachment:unset; 
    background-position: center center;
    background-attachment: fixed;
  }

  @keyframes parallaxMove {
    0% {
        background-position: 0 center;
    }
    100% {
        background-position: 100% center;
    }
  }

 
  body {
    overscroll-behavior: none;
    
  }

  

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .verticalscroll {
    overscroll-behavior: none;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    width: 100vw; 
  }
  
  .panel {
    flex-shrink: 0; 
    width: 100vw; 
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(243, 143, 218);
  }

  .riot-bg {
    background-image: url("./img/riotgrrrlbg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(57, 57, 57);
    background-blend-mode: multiply;
    background-attachment: unset; 
    background-position: center center;
  }

  .gwc-bg {
    background-image: url("./img/girlswhocodebg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(57, 57, 57);
    background-blend-mode: multiply;
    background-attachment:unset; 
    background-position: center center;
  }

  .graph-bg {
    background-image: url("./img/graduategraph.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-color: rgb(166, 162, 162);
    background-blend-mode: multiply;
    /* background-attachment:unset;  */
    background-position: center center;
  }

  .othergraph-bg {
    background-image: url("./img/graphofworkforce.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-color: rgb(174, 168, 168);
    background-blend-mode: multiply;
    /* background-attachment:unset;  */
    background-position: center center;
  }

  .engineer-bg {
    background-image: url("./img/engineeringprof.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-color: rgb(174, 168, 168);
    background-blend-mode: multiply;
    /* background-attachment:unset;  */
    background-position: center center;
  }

  .bg-digitalworld {
    background-image: url("./img/digitalworld.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(83, 81, 81);
    background-blend-mode: multiply;
    /* background-attachment:unset;  */
    background-position: center center;
  }
  
  
  
  
  




