.title-text {
    transform: translateX(0);
    opacity: 1;
  }

.computer-image {
    background: transparent;
    mask-image: url('./img/computerimage.jpg');
    -webkit-mask-image: url('./img/computerimage.jpg'); /* For WebKit browsers */
    mask-size: cover;
    -webkit-mask-size: cover;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
}

.split-outline {
    -webkit-text-stroke: 1px gray; /* Add a gray outline */
    color: transparent; /* Make the inner part transparent */
}

.header-image {
    grid-column: 1/-1;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    object-fit: cover;
    z-index: -1;
    animation: header-image-animation linear forwards;
    transform-origin: top;
    animation-timeline: view();
    animation-range: exit;
}

@keyframes header-image-animation {
    25% {
        opacity: 1;
    }
    85%, 100% {
        opacity: 0;
        scale: 3;
    }
}

.cursor {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    
}

@keyframes cursorAnim {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.expand {
    animation: cursorAnim .5s forwards;
    border: 1px solid white;

}

.blink-cursor {
    animation: blink 1s linear infinite;
}


@keyframes blink {
    0% {
        opacity: 100%;
    }
    50% {
        opacity: 0%;
    }
}





